{% extends 'layout.html' %}

{% block title %}
About
{% endblock title %}

{% block body %}

<div class="jumbotron text-center">
    <h3>About</h3>
    <hr>
    <p> ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc odio, scelerisque sed mauris ut, viverra ullamcorper velit. Nunc nec mauris ac tellus elementum vestibulum. Aliquam neque justo, iaculis vitae neque quis, auctor vestibulum tortor. Suspendisse lorem nibh, scelerisque non malesuada vel, accumsan vitae enim. Mauris tincidunt commodo pellentesque. Fusce aliquam nunc vel ligula ullamcorper fermentum. Donec hendrerit orci at pretium facilisis. Nunc at malesuada lorem. Nunc ornare massa ut magna mollis, at fringilla lectus condimentum. Mauris vitae facilisis dui, quis aliquam enim. Suspendisse auctor at leo ut commodo.

        Ut suscipit elit id suscipit fringilla. In eget libero sed e</p>
</div>

{% endblock body %}